    <% obj.each do |post| %>
<div class="panel panel-default">
  <div class="panel-heading"><%= link_to post.tittle, post %></div>
  <div class="panel-body">
    <p><%= post.content %></p>

  </div>
  <div class="panel-footer">
    <p><small class="pull-left">Category: <%= link_to post.category.name, category_path(post.category_id) %></small>
       <small class="pull-right">Updated at: <%= post.updated_at.to_formatted_s(:long) %></small></p>
  </div>
</div>
    <% end %>